xml/circuito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.uniovi.es" xmlns="http://www.uniovi.es" elementFormDefault="qualified">
	<xs:element name="circuito">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longitud_circuito" />
				<xs:element ref="anchura_media" />
				<xs:element ref="fecha_2025" />
				<xs:element ref="hora_carrera_españa" />
				<xs:element ref="patrocinador" />
				<xs:element ref="referencias" />
				<xs:element ref="fotos" />
				<xs:element ref="videos" />
				<xs:element ref="coordenadas_inicio" />
				<xs:element ref="tramos" />
				<xs:element ref="vencedor" />
				<xs:element ref="clasificacion_mundial" />
			</xs:sequence>
			<xs:attribute name="nombre" type="xs:string" use="required" />
			<xs:attribute name="vueltas" type="xs:integer" use="required" />
			<xs:attribute name="localidad_proxima" type="xs:string" use="required" />
			<xs:attribute name="pais" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="longitud_circuito">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="longitudBase">
					<xs:attribute name="unidad" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!-- Tipo simple para poder añadir restricciones y unidades a la vez -->
	<xs:simpleType name="longitudBase">
		<xs:restriction base="xs:integer">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Fin del tipo simple para longitud -->
	<xs:element name="anchura_media">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="anchuraBase">
					<xs:attribute name="unidad" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!-- Tipo simple para poder añadir restricciones y unidades a la vez -->
	<xs:simpleType name="anchuraBase">
		<xs:restriction base="xs:integer">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Fin del tipo simple para anchura -->
	<xs:element name="fecha_2025" type="xs:date" />
	<xs:element name="hora_carrera_españa" type="xs:time" />
	<xs:element name="patrocinador" type="xs:string" />
	<xs:element name="referencias">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="3" maxOccurs="unbounded" ref="referencia" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="referencia" type="xs:string" />
	<xs:element name="fotos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="5" ref="foto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="foto" type="xs:string" />
	<xs:element name="videos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="3" ref="video" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="video" type="xs:string" />
	<xs:element name="coordenadas_inicio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordenada" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coordenada">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longitud" />
				<xs:element ref="latitud" />
				<xs:element ref="altitud" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="longitud" >
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:minInclusive value="-180.0"/>
				<xs:maxInclusive value="180.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="latitud" >
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:minInclusive value="-90.0"/>
				<xs:maxInclusive value="90.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="altitud">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="altitudBase">
					<xs:attribute name="unidad" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!-- Tipo simple para poder añadir restricciones y unidades a la vez -->
	<xs:simpleType name="altitudBase">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Fin del tipo simple para altitud -->
	<xs:element name="tramos">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="tramo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tramo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="distancia" />
				<xs:element ref="coordenada" />
			</xs:sequence>
			<xs:attribute name="sector" type="xs:integer" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="distancia">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="distanciaBase">
					<xs:attribute name="unidad" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!-- Tipo simple para poder añadir restricciones y unidades a la vez -->
	<xs:simpleType name="distanciaBase">
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Fin del tipo simple para altitud -->
	<xs:element name="vencedor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="piloto" />
				<xs:element ref="tiempo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="piloto" type="xs:string" />
	<xs:element name="tiempo" type="xs:time" />
	<xs:element name="clasificacion_mundial">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="3" maxOccurs="3" ref="piloto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>