xml/circuito.dtd

<!ELEMENT circuito (longitud_circuito, anchura_media, fecha_2025, hora_carrera_españa, patrocinador, referencias, fotos, videos, coordenadas_inicio, tramos, vencedor, clasificacion_mundial)>
<!ELEMENT longitud_circuito (#PCDATA)>
<!ELEMENT anchura_media (#PCDATA)>
<!ELEMENT fecha_2025 (#PCDATA)>
<!ELEMENT hora_carrera_españa (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>
<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia (#PCDATA)>
<!ELEMENT fotos (foto+)>
<!ELEMENT foto (#PCDATA)>
<!ELEMENT videos (video+)>
<!ELEMENT video (#PCDATA)>
<!ELEMENT coordenadas_inicio (coordenada)>
<!ELEMENT coordenada (longitud, latitud,altitud)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT latitud (#PCDATA)>
<!ELEMENT altitud (#PCDATA)>
<!ELEMENT tramos (tramo+)>
<!ELEMENT tramo (distancia, coordenada)>
<!ELEMENT distancia (#PCDATA)>
<!ELEMENT vencedor (piloto, tiempo)>
<!ELEMENT piloto (#PCDATA)>
<!ELEMENT tiempo (#PCDATA)>
<!ELEMENT clasificacion_mundial (piloto+)>

<!-- Atributos obligatorios -->

<!ATTLIST circuito 
    nombre CDATA #REQUIRED
    vueltas CDATA #REQUIRED
    localidad_proxima CDATA #REQUIRED
	pais CDATA #REQUIRED
>

<!ATTLIST longitud_circuito
    unidad CDATA #REQUIRED
>

<!ATTLIST anchura_media
    unidad CDATA #REQUIRED
>

<!ATTLIST tramo 
    sector CDATA #REQUIRED
>

<!ATTLIST distancia
    unidad CDATA #REQUIRED
>

<!ATTLIST altitud
    unidad CDATA #REQUIRED
>
